{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{ path("homepage") }}">Accueil</a> |
    <a href="{{ path("admin_index") }}">Admin</a> |
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <a href="{{ path('logout') }}">Déconnexion</a>
    {% endif %}
    <h1>Article</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ article.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ article.titre }}</td>
            </tr>
            <tr>
                <th>Descr</th>
                <td>{{ article.descr }}</td>
            </tr>
            <tr>
                <th>Ladate</th>
                <td>{% if article.ladate %}{{ article.ladate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_index') }}">Back to the list</a>
        </li>{% if is_granted('ROLE_SUPER_ADMIN') %}
        <li>
            <a href="{{ path('admin_edit', { 'id': article.id }) }}">Edit</a>
        </li>


            {{ form_start(delete_form) }}<li>
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}</li>
            {% endif %}

    </ul>
{% endblock %}
